@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Quality Assurance Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
            </hgroup>
        </div>
    </section>
}

<section class="contact">
    <header>
        <h3>Information:</h3>
    </header>
    <p>
        Quality Assurance (QA) is a way of preventing mistakes or defects in manufactured products and avoiding problems when delivering solutions 
        or services to customers; which ISO 9000 defines as "part of quality management focused on providing confidence that quality requirements 
        will be fulfilled". This defect prevention in quality assurance differs subtly from defect detection and rejection in quality control, and 
        has been referred to as a shift left as it focuses on quality earlier in the process.
        <br /><br />
        QA is applied to physical products in pre-production to verify what will be made meets specifications and requirements, and during manufacturing 
        production runs by validating lot samples meet specified quality controls. QA is also applied to software to verify that features and functionality 
        meet business objectives, and that code is relatively bug free prior to shipping or releasing new software products and versions.

    </p>
</section>

<section class="contact">
    <header>
        <h3>Approaches to quality assurance:</h3>
    </header>
    <p>
        Failure testing
        <br /><br />
        A valuable process to perform on a whole consumer product is failure testing or stress testing.[citation needed] In mechanical terms 
        this is the operation of a product until it fails, often under stresses such as increasing vibration, temperature, and humidity. This 
        exposes many unanticipated weaknesses in a product, and the data is used to drive engineering and manufacturing process improvements. 
        Often quite simple changes can dramatically improve product service, such as changing to mold-resistant paint or adding lock-washer 
        placement to the training for new assembly personnel.
        <br /><br />
        Statistical control
        <br /><br />
        Statistical control is based on analyses of objective and subjective data. Many organizations use statistical process control as a 
        tool in any quality improvement effort to track quality data. Any product can be statistically charted as long as they have a common 
        cause variance or special cause variance to track.
        <br /><br />
        Walter Shewart of Bell Telephone Laboratories recognized that when a product is made, data can be taken from scrutinized areas of a 
        sample lot of the part and statistical variances are then analyzed and charted. Control can then be implemented on the part in the 
        form of rework or scrap, or control can be implemented on the process that made the part, ideally eliminating the defect before more 
        parts can be made like it.
    </p>
</section>

<section class="contact">
    <header>
        <h3>Quality assurance in practice:</h3>
    </header>
    <p>
        QA in medical industry
        <br /><br />
        QA is very important in the medical field because it helps to identify the standards of medical equipments and services. Hospitals and 
        laboratories make use of external agencies in order to ensure standards for equipment such as X-ray machines, Diagnostic Radiology and 
        AERB.
        <br /><br />
        QA in software development
        <br /><br />
        Main article: Software quality assurance
        <br /><br />
        Software Quality Assurance consists of a means of monitoring the software engineering processes and methods used to ensure quality. 
        The methods by which this is accomplished are many and varied, and may include ensuring conformance to one or more standards, such as 
        ISO 9000 or a model such as CMMI.
    </p>
</section>