@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Services Page";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@Page.Title.</h1>
            </hgroup>
        </div>
    </section>
    }

    <article>
        <img src="http://ciape.org/wp-content/uploads/2014/08/Soluciones1.jpg" width="100%" />       
    </article>

    <aside>
        <h3>Services</h3>
        <p>
            We provide the following services:
        </p>
        <ul>
            <li><a href="~/SoftwareDevelopment">Software Development</a></li>
            <li><a href="~/Outsourcing">Outsourcing</a></li>
            <li><a href="~/QualityAssurance">Quality Assurance</a></li>
        </ul>
    </aside>

